
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #28262C;
}

.title {
    font-size: 2rem;
    text-align: center;
    font-family: Helvetica;
    color: #EEEEEE;
    margin-top: 1rem;
}

.search-box {
    margin-top: 1rem;
}

.search-text {
    display: inline;
    margin-right: 0.5rem;
    margin-left: 15rem;
    color: #EEEEEE;
    font-size: 1.2rem;
    font-family: helvetica;
    margin-bottom: 1rem;
}

.search-input {
    display: inline-block;
    margin-right: 30%;
    padding: 5px;
    margin-bottom: 1rem;
    width: 20%;
    outline: none;
    text-align: center;
}

.look-for-bank {
    position: absolute;
    right: 22%;
    padding: 5px;
    width: 100px;
    background-color: #696773;
    color: #EEEEEE;
    border: 2px solid #EEEEEE;
    border-radius: 3px;
    transition: 0.3s;
    cursor: pointer;
}

.look-for-bank:hover {
    background-color: #EEEEEE;
    color: #696773;
    border: 2px solid #696773;
}

.table-container {
    display: block;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: 60vh;
    overflow-y: auto;
    overflow-x: auto;
}

.table {
  border-collapse: collapse;
  width: 100%;
  font-size: 0.9rem;
  background-color: #696773;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.45);
  font-family: Helvetica;
  border: 2px solid #363946;
}

.table thead tr {
    background-color: #5c6469;
    color: #EEEEEE;
    text-align: center;
    font-weight: bold;
    border: 2px solid #363946;
}

.table tbody tr td {
    text-align: center;
    background-color: #696773;
    color: #EEEEEE;
    border-bottom: 2px solid #363946;
}

.table th, .table td {
    padding: 15px 15px;
    border-right: 2px solid #363946;
}

@media screen and (max-width: 1260px) {
    
    .search-text {
        display: block;
        margin-right: 0 !important;
        margin-left: 0 !important;
        text-align: center !important;
        color: #EEEEEE;
        font-size: 1.2rem;
        font-family: helvetica;
        margin-bottom: 1rem;
    }
    
    .search-input {
        display: block;
        margin-left: auto;
        margin-right: auto !important;
        padding: 5px;
        margin-bottom: 1rem;
        margin-top: 1rem;
        min-width: 50%;
        outline: none;
        text-align: center;
    }
    
    .look-for-bank {
        position: static;
        right: none !important;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
        width: 100px;
    }
}

/* Removing the little arrows from the input number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
