
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #28262C;
}

.title {
    font-size: 2rem;
    text-align: center;
    font-family: Helvetica;
    color: #EEEEEE;
    margin-top: 1rem;
}

.search-box {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-text {
    margin-right: 0.5rem;
    color: #EEEEEE;
    font-size: 1.2rem;
    font-family: helvetica;
    margin-bottom: 1rem;
}

.search-input {
    padding: 10px;
    margin-bottom: 1rem;
    width: 30%;
    outline: none;
}

.table {
  border-collapse: collapse;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  background-color: #696773;
  overflow: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.45);
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-family: Helvetica;
  border: 2px solid #363946;
}

.table thead tr {
    background-color: #5c6469;
    color: #EEEEEE;
    text-align: center;
    font-weight: bold;
    border: 2px solid #363946;
}

.table tbody tr td {
    text-align: center;
    background-color: #696773;
    color: #EEEEEE;
    border-bottom: 2px solid #363946;
}

.table th, .table td {
    padding: 15px 15px;
    border-right: 2px solid #363946;
}
